<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bl.dmdelivery">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".actvity.MainActivity" />
        <activity android:name=".actvity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".actvity.MainMenuActivity" />
        <activity android:name=".actvity.ScanOrdersActivity" />
        <activity android:name=".actvity.ScanOrdersCheckActivity" />
        <activity android:name=".actvity.ScanOrdersConfirmActivity" />
        <activity android:name=".actvity.DownLoadDataActivity" />
        <activity android:name=".actvity.UnpackListActivity" />
        <activity android:name=".actvity.SaveOrdersActivity" />
        <activity android:name=".actvity.SaveOrdersCompleteActivity" />
        <activity android:name=".actvity.SaveOrdersReturnListActivity" />
        <activity android:name=".actvity.SaveOrdersSlipActivity" />
        <activity android:name=".actvity.SaveOrdersSlipCancelActivity" />
        <activity android:name=".actvity.ShowUnpackActivity" />
        <activity android:name=".actvity.SaveOrdersReturnActivity" />
        <activity android:name=".actvity.SaveOrdersReturnCancelActivity" />
        <activity android:name=".actvity.SaveOrdersReturnSlipActivity" />
        <activity android:name=".actvity.DownLoadTelActivity" />
        <activity android:name=".actvity.UpdateProgramActivity" />
        <activity android:name=".actvity.OthersMenuActivity" />
        <activity android:name=".actvity.SaveOrdersApproveSlipActivity" />
        <activity android:name=".actvity.DialogConfirmQtyActivity" />
        <activity android:name=".actvity.SaveOrdersReturnDocActivity" />
        <activity android:name=".actvity.SaveOrdersReasonApproveActivity" />
        <activity android:name=".actvity.WebViewActivity" />
        <activity android:name=".actvity.CheckMapActivity" />
        <activity android:name=".actvity.ReturnSummaryActivity"/>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyA0NCScC4CfdD0f40SochF7th4OfE4xhrk" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".actvity.ViewSlipActivity" />
        <activity android:name=".actvity.MapActivity" />
        <activity android:name=".actvity.ViewSlipReturnActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>


        <!--<receiver android:name=".helper.LogCall">-->
            <!--<intent-filter android:priority="1">-->
                <!--<action android:name="android.intent.action.PHONE_STATE" />-->
                <!--&lt;!&ndash; <action android:name="android.intent.action.NEW_OUTGOING_CALL" /> &ndash;&gt;-->
            <!--</intent-filter>-->
        <!--</receiver>-->

        <!--<receiver android:name=".helper.BlockCallReceiver">-->
            <!--<intent-filter android:priority="0">-->
                <!--<action android:name="android.intent.action.NEW_OUTGOING_CALL" />-->
                <!--&lt;!&ndash; <action android:name="android.intent.action.NEW_OUTGOING_CALL" /> &ndash;&gt;-->
            <!--</intent-filter>-->
        <!--</receiver>-->

    </application>

</manifest>